:root {
    --width: 600px;
    --height: 800px;
    --imgWidth: 65px;
    --imgHeight: 80px;
}

* {
    user-select: none;
    font-size: 17px;
    font-family: "Roboto Light", sans-serif;
}

body, html {
    margin: 0;
    box-sizing: border-box;
    background-color: #e1e3e1;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    z-index: 99;
    top: 0;
    position: fixed;
    height: 80px;
    width: 100vw;
    background-color: black;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: changeColor 2s linear infinite;
    cursor: pointer;
    transition: color .2s linear;
}

.header > .item {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    top: 18px;
}

.item-wrapper {
    border: 1px solid black;
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.item:hover {
    font-size: 19px;
    color: #3600fa;
    font-weight: bold;
    animation: none;
}

.item:nth-child(2) {
    animation-delay: .3s;
}

.item:nth-child(3) {
    animation-delay: .6s;
}

@keyframes changeColor {
    from {
        opacity: 1;
    }
    50% {
        opacity: .2;
    }
    to {
        opacity: 1;
    }
}

#frame {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50px;
    transition: opacity .5s linear;
    border-radius: 11px;
    opacity: 1;
    border: 1px solid black;
}

#frame:hover {
    /*animation: logoAnimation 1s linear;*/
}

.wrapper {
    position: relative;
    margin-top: 180px;
    width: var(--width);
    height: var(--height);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
    transition: background-color 1s ease;
}

#loader {
    z-index: 100;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #e1e3e1;
    transition: opacity 1s;
}

.logo {
    width: var(--imgWidth);
    height: var(--imgHeight);
    animation: logoAnimation 2s linear infinite;
}

@keyframes logoAnimation {
    0% {
        transform: rotate(0);
    }
    30% {
        transform: rotate(180deg);
    }
    60% {
        transform: rotate3d(0.3, 0.5, 0, 180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media only screen and (max-width: 600px) {
    .wrapper {
        background-color: white;
        transition: background-color 1s ease;
    }

    .item-wrapper {
        filter: hue-rotate(360deg);
    }

    #frame {
        width: 100vw;
    }
}